$josefin: 'Josefin Sans', sans-serif;
$aleo:'Aleo', serif;
$blue:#5373FD;
$white: #ffff;
$black: #000;
$textgrey:#999999;
$jj:#1111fd;
$lightblue: #7373FD;
$darkgrey:#333333;
$semiopacitygrey: rgba(35, 35, 35, 0.9);
$prcnt: 100%;
$fullscreen: 2580px;
$desktopbig:1920px;
$desktop:1360px;
$tabletBig: 1024px;
$tablet: 768px;
$tabletMinus1: 767px;
$mobile: 576px;
