@mixin h6 {
    font-family: $lato400;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 166%;
letter-spacing: 0.1em;
color: $grey500;
margin-top: 0;
max-width: 250px;
max-height: 20px;
margin-bottom: 30px;

}
@mixin title {
    font-family: $redfont400;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 166%;
   letter-spacing: 0.1em;
  color: $black;
max-width: 369px;
}
@mixin date {
    font-family: $lato400;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    /* or 27px */
    letter-spacing: 0.1em;
    color: $grey500; 
    margin-top: 15px;
}
@mixin description {
    font-family: $lato400;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    /* or 27px */
    letter-spacing: 0.05em;
    color: $grey700;
    margin-top: 50px;
    padding-right: 21%;
  
}  
@mixin h3 {
    font-family: $redfont400;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black;   
    margin: 0;
}
@mixin h4 {
    font-family: $redfont400;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 166%;
margin: 0;
letter-spacing: 0.1em;
color: $black;

}
@mixin small-grey-text {
    font-family: $lato400;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 166%;
letter-spacing: 0.05em;
color: $grey700;
}
@mixin view-all {
    font-family: $lato400;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 166%;
letter-spacing: 0.1em;
color: $grey500;
}
@mixin tag-or-date {
    font-family: $lato400;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $grey500;
}

.body {
    margin: 0 auto;
    transition: all .4s linear;
   

}
.main {
    display: flex;
flex-direction: column;
align-items: center;
align-self: center;
padding: 0px;
gap: 90px;
padding-top: 90px;
position: relative;
margin: 0 auto;
width: 81.25%;
    @media screen and (max-width: $tablet) {
        width: 91.145%;
        padding-top: 70px;
    }
    @media screen and (max-width: $mobile){
        width: 93.75%;
    }

}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px;
    gap: 90px;
    @media screen and (max-width: $mobile) {
        gap: 70px;
    }
&__img1 {
    width: 100%;
    height: 100%;
    @media screen and (max-width: $mobile) {
        max-height: 220px;
    }
}
  &__h2 {
    padding-bottom: 50px;
    margin: 0;

    font-family: $redfont400;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $black;
    @media screen and (max-width: $mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        
    }

}
&__article {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0px;
    gap: 30px;
    margin-bottom: 50px;
    
    @media screen and (max-width: $mobile) {
        flex-direction: column;
        justify-content: center;
        margin: 50px auto 0 auto;
    }

}
     &__info {
        
    width: 50%;
    max-height: 300px;
    display: flexbox;
    align-items: center;
    //margin-top: 85px;
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}
    &__img {
        width: 50%;
        max-height: 470px;
        
    @media screen and (max-width: $mobile) {
            width: 100%;
            order: 1;
        }
        
       
}
    &__tag {
     @include h6;

    }
    &__title{
        @include title;
    }
    &__date {
        @include date;
        @media screen and (max-width: $mobile) {
            margin-bottom: 40px;
        }
    }
    &__description {
        @include description;
        @media screen and (max-width: 555px) {
        font-size: 14px;
        }
        @media screen and (max-width: $mobile) {
            margin-top: 0;
            padding-right: 0;
        }
        
    }
    &__svg {
        fill: $grey500;
       
    }
    &__svg:hover {
        fill: $black;
        transition: all .4s linear;
   }
   &__a:hover  &__svg {
    fill: $black;
    transition: all .4s linear;
   }
   

     &__a:hover::before {
        content: "Read More";
        font-family: $lato400;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 166.3%;
        letter-spacing: 0.1em;
        color: $black;
        fill: $black;
        transition: all .9s linear;
    }
    
}
//.blog__svg:hover::before {
   // content: "Read More";
   // font-family: $lato400;
   // font-style: normal;
   // font-weight: 400;
    //font-size: 16px;
   // line-height: 166.3%;
    //letter-spacing: 0.1em;
    //color: $black;
//}
.posts {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-flow: row wrap;
    padding: 0px;
    //gap: 50px;
    @media screen and (max-width: 768px) {
        //max-height: 868px;
    }
    @media screen and (max-width: $mobile) {
        max-height: 100%;
    }

    &__title {
       @include h3;
       order: 0;
    }
    &__div {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;   
        @media screen and (max-width: 489px) {
            padding-top: 120px;
        }
        @media screen and (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 0;
            
        }
        
    }
    &__svg {
        fill: $grey500;
    }
    
    &__view-all {
        @include view-all;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
        order: 1;
        max-height: 38px;
         
    }
    &__post{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 25px;
        max-width: 370px;
        @media screen and (min-width: 769px) {
            height: 500px;
        }
        @media screen and (max-width: 768px) {
            flex-direction: row;
            width: 100%;
            max-width: 100%;
            margin-top: 30px;
        }
        @media screen and (max-width: $mobile) {
            //height: 450px;
            flex-direction: column;
        }
    }
    &__post-medium {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 25px;
        
        max-width: 370px;
        @media screen and (min-width: 769px) {
            height: 500px;
        }
        @media screen and (max-width: 768px) {
            flex-direction: row-reverse;
            margin-top: 50px;
            width: 100%;
            max-width: 100%;
        }
        @media screen and (max-width: $mobile) {
            min-height: 470px;
            flex-direction: column;
        }
    }
    &__post-height320 {
        @media screen and (max-width: $mobile) {
            min-height: 420px;
    }
    }
    &__container {
        display: flex;
        flex-direction: row;
       align-items: center;
        padding: 0px;
        gap: 30px;
        @media screen and (max-width: 768px) {
            gap: 30px;
           
        }
        @media screen and (max-width: $mobile) {
            flex-direction: column;
            gap: 0;
           
        }
       
    }
    &__container1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 30px;
        @media screen and (max-width: 768px) {
            gap: 30px;
        flex-direction: column;
        }
        @media screen and (max-width: $mobile) {
            flex-direction: column;
            gap: 0;
           
        }
       
    }
    &__photo{
        width: 100%;
        max-height: 260px;
        @media screen and (max-width: $tablet) {
            height: 240px;
        }
        @media screen and (max-width: 320px) {
            height: 210px;
        }
       }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 25px;
    
        max-width: 100%;
        max-height: 156px;
       }
       &__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        //gap: 180px;
     @include tag-or-date;
        width: 100%;
        max-height: 20px;
       }
       &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
    
        max-width: 100%;
        max-height: 106px;
       }
       &__h4 {
        @include h4;
       }
       &__text {
        @include small-grey-text;
        @media screen and (max-width: $tablet) {
            font-size: 14px;
        }
        
       }
}
.post {
    display: flex;
    overflow: hidden;
    width: 100%;
   &__photo{
    max-width: 100%;
    max-height: 260px;
   }
   &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
   }
   &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    //gap: 180px;
 @include tag-or-date;
    width: 100%;
    max-height: 20px;
   }
   &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    @media screen and (max-width: $mobile) {
        gap: 11.5px;
    }
   }
   &__h4 {
    @include h4;
   }
   &__text {
    @include small-grey-text;
    @media screen and (max-width: 457px) {
        font-size: 16px;
    }
    @media screen and (max-width: 361px) {
        font-size: 14px;
    }
    
   }
}
.most-popular {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    @media screen and (max-width:$mobile){
        gap: 0;
    }
    &__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        width: 100%;
        
    }
    &__title {
        @include h3;
        padding: 4px 0;
        @media screen and (max-width: $mobile) {
            //padding: 10px 0;
        }
    }
}
.black:hover {
    color: $black;
    transition: all .4s linear;
}
.black:hover .posts__svg {
    fill: $black;
    transition: all .4s linear;
}
.articles {
    @extend .posts__container;
    align-items: flex-start;
    overflow: hidden;
    @media screen and (max-width: $mobile) {
        margin-top: 30px;
        margin-bottom: 50px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    
}

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        width: 50%;
        min-height: 500px;
        @media screen and (max-width: $mobile) {
            width: 100%; 
            gap: 21px;
        }

    }
    &__block-height {
        @media screen and (max-width: $mobile) {
        min-height: 370px;}
    }
    &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        max-width: 180px;
        max-height: 46px;
        background: $grey700;
        border: none;
        margin: 0 auto;

        
    }
    &__button:hover {
        background-color: $grey900;
        transition: all .4s linear;
    }
    
    &__button-text {
        white-space: nowrap;
        font-family: $lato700;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 166%;
        padding: 9.5px 45px;
        letter-spacing: 0.1em;
        color: $white;
        

        
    }
}
.info {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0;
overflow: hidden;
//gap: 104px;
isolation: isolate;
margin-bottom: 90px;
margin-top: 0;
width: 100%;
@media screen and (min-width: $tablet) {
    gap: 10px;
}
@media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 70px;
    margin-bottom: 70px;
} 
@media screen and (max-width: $mobile) {
    gap: 35px;
}



&__box {
    //max-width: 470px;
    //max-height: 76px;
    top: 0;
    @media screen and (max-width: 489px) {
        //padding-top: 50px;
    }
}
&__title {
    font-family: $redfont400;
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 166%;
letter-spacing: 0.1em;
color: $black;
text-decoration: none;
@media screen and (max-width: 457px) {
font-size: 18px;
    //padding-top: 100px;
}
@media screen and (max-width: 388px) {
    font-size: 16px;
        
    }
}
&__box2 {
    //max-width: 470px;
//max-height: 192px;
font-family: $lato400;
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 32px;
letter-spacing: 0.05em;
color: $grey700;
@media screen and (max-width: 768px) {
    text-align: right;
    align-items: flex-end;
    min-width: 91%;
}
@media screen and (max-width: 489px) {
font-size: 16px;
line-height: 1.5;
}
@media screen and (max-width: $mobile) {
    //top: 130px;
}
}
&__svg {
    fill: $grey500;
}
&__svg:hover {
    fill: $black;
    transition: all .4s linear;
}
&__svg:hover::before {
    content: "Read More";
    transition: all .4s linear;
    border-color: $black;
    font-family: $lato400;
}

}

.margin-top {
    margin-top: 0;
}
.margin-bottom {
    margin-bottom: 0;
}