$black: #000;
$white: #fff;
$grey900:#323232;
$grey700:#565656;
$grey500:#7B7B7B;
$grey300:#CCCCCC;
$grey100: #F4F4F4;
$red:#E10000;
$redfont400: 'Red Hat Display', sans-serif;
$lato400: 'Lato', sans-serif;
$lato700: 'Lato', sans-serif;
$h1: 48px;
$h2:33px;
$h3:23px;
$h4:19px;
$font16:16px;
$h8:13px;
$h9:12px;
$mobile: 580px;
$tablet:768px;
$desktop:1440px;
$fullscreen: 2560px


