.header {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header {
    max-height: 60px;
    height: 100%;
  }
}
.header__container {
  max-height: 20px;
  width: 81.25%;
  margin: 40px auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .header__container {
    width: 91.146%;
    margin-left: 9%;
    margin-right: 9%;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    width: 93.75%;
    margin: 20px auto;
  }
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 3%;
  justify-content: right;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.header__menu-item:hover + .header__width {
  transition: all 0.4s linear;
  opacity: 1;
}
.header__width {
  opacity: 0;
  position: relative;
  height: 1px;
  margin-right: 8px;
  margin-left: 8px;
  background-color: #000;
}
.header__search {
  margin-left: 41px;
  top: 41px;
}
.header__burger-search {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .header__burger-search {
    display: flex;
    opacity: 1;
    position: absolute;
    top: 20px;
    justify-content: right;
    right: 34px;
    width: 100%;
    height: 100%;
    max-height: 21px;
    gap: 40px;
  }
}
@media screen and (min-width: 769px) {
  .header__burger-search {
    width: 0;
  }
}
.header__burger {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .header__burger {
    opacity: 1;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 34px;
    width: 100%;
  }
}
.header__burger-line {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .header__burger-line {
    opacity: 1;
    background-color: #000;
    height: 1px;
    width: 100%;
  }
}
.header__burger-line2 {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .header__burger-line2 {
    margin: 9px 0;
    opacity: 1;
    background-color: #000;
    height: 1px;
    width: 100%;
  }
}
.header__screen {
  min-height: 600px;
  max-height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-image: url(/FELessons/17rwd/bg-image.png);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .header__screen {
    max-height: 320px;
    min-height: 320px;
  }
}
@media screen and (max-width: 580px) {
  .header__screen {
    min-height: 500px;
    max-height: 500px;
  }
}
.header__par {
  margin-left: 9%;
  max-width: 770px;
  max-height: 120px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  padding-top: 100px;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000;
}
@media screen and (max-width: 1440px) {
  .header__par {
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header__par {
    padding-top: 70px;
    margin-left: 3.125%;
  }
}
.body {
  margin: 0 auto;
  transition: all 0.4s linear;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0px;
  gap: 90px;
  padding-top: 90px;
  position: relative;
  margin: 0 auto;
  width: 81.25%;
}
@media screen and (max-width: 768px) {
  .main {
    width: 91.145%;
    padding-top: 70px;
  }
}
@media screen and (max-width: 580px) {
  .main {
    width: 93.75%;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
  gap: 90px;
}
@media screen and (max-width: 580px) {
  .blog {
    gap: 70px;
  }
}
.blog__img1 {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 580px) {
  .blog__img1 {
    max-height: 220px;
  }
}
.blog__h2 {
  padding-bottom: 50px;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000;
}
@media screen and (max-width: 580px) {
  .blog__h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
}
.blog__article {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 580px) {
  .blog__article {
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 0 auto;
  }
}
.blog__info {
  width: 50%;
  display: flexbox;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .blog__info {
    width: 100%;
  }
}
.blog__img {
  width: 50%;
  max-height: 470px;
}
@media screen and (max-width: 580px) {
  .blog__img {
    width: 100%;
    order: 1;
  }
}
.blog__tag {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-top: 0;
  max-width: 250px;
  max-height: 20px;
  margin-bottom: 30px;
}
.blog__title {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  max-width: 369px;
}
.blog__date {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  /* or 27px */
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-top: 15px;
}
@media screen and (max-width: 580px) {
  .blog__date {
    margin-bottom: 40px;
  }
}
.blog__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  /* or 27px */
  letter-spacing: 0.05em;
  color: #565656;
  margin-top: 50px;
  padding-right: 21%;
}
@media screen and (max-width: 555px) {
  .blog__description {
    font-size: 14px;
  }
}
@media screen and (max-width: 580px) {
  .blog__description {
    margin-top: 0;
    padding-right: 0;
  }
}
.blog__svg {
  fill: #7B7B7B;
}
.blog__svg:hover {
  fill: #000;
  transition: all 0.4s linear;
}
.blog__a:hover .blog__svg {
  fill: #000;
  transition: all 0.4s linear;
}
.blog__a:hover::before {
  content: "Read More";
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  color: #000;
  fill: #000;
  transition: all 0.9s linear;
}

.posts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-flow: row wrap;
  padding: 0px;
}
@media screen and (max-width: 580px) {
  .posts {
    max-height: 100%;
  }
}
.posts__title {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin: 0;
  order: 0;
}
.posts__div {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 489px) {
  .posts__div {
    padding-top: 120px;
  }
}
@media screen and (max-width: 580px) {
  .posts__div {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .posts__div {
    margin-bottom: 50px;
  }
}
.posts__svg {
  fill: #7B7B7B;
}
.posts__view-all {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  order: 1;
  max-height: 38px;
}
.posts__post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  max-width: 370px;
}
@media screen and (min-width: 769px) {
  .posts__post {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .posts__post {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 580px) {
  .posts__post {
    flex-direction: column;
  }
}
.posts__post-medium {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  max-width: 370px;
}
@media screen and (min-width: 769px) {
  .posts__post-medium {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .posts__post-medium {
    flex-direction: row-reverse;
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .posts__post-medium {
    min-height: 470px;
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .posts__post-height320 {
    min-height: 420px;
  }
}
.posts__container, .articles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .posts__container, .articles {
    gap: 30px;
  }
}
@media screen and (max-width: 580px) {
  .posts__container, .articles {
    flex-direction: column;
    gap: 0;
  }
}
.posts__container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .posts__container1 {
    gap: 30px;
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .posts__container1 {
    flex-direction: column;
    gap: 0;
  }
}
.posts__photo {
  width: 100%;
  max-height: 260px;
}
@media screen and (max-width: 768px) {
  .posts__photo {
    height: 240px;
  }
}
@media screen and (max-width: 320px) {
  .posts__photo {
    height: 210px;
  }
}
.posts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  max-width: 100%;
  max-height: 156px;
}
.posts__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  width: 100%;
  max-height: 20px;
}
.posts__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  max-width: 100%;
  max-height: 106px;
}
.posts__h4 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  margin: 0;
  letter-spacing: 0.1em;
  color: #000;
}
.posts__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media screen and (max-width: 768px) {
  .posts__text {
    font-size: 14px;
  }
}

.post {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.post__photo {
  max-width: 100%;
  max-height: 260px;
}
.post__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
}
.post__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  width: 100%;
  max-height: 20px;
}
.post__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
@media screen and (max-width: 580px) {
  .post__description {
    gap: 11.5px;
  }
}
.post__h4 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  margin: 0;
  letter-spacing: 0.1em;
  color: #000;
}
.post__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media screen and (max-width: 457px) {
  .post__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 361px) {
  .post__text {
    font-size: 14px;
  }
}

.most-popular {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 50px;
}
@media screen and (max-width: 580px) {
  .most-popular {
    gap: 0;
  }
}
.most-popular__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
}
.most-popular__title {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin: 0;
  padding: 4px 0;
}
.black:hover {
  color: #000;
  transition: all 0.4s linear;
}

.black:hover .posts__svg {
  fill: #000;
  transition: all 0.4s linear;
}

.articles {
  align-items: flex-start;
  overflow: hidden;
}
@media screen and (max-width: 580px) {
  .articles {
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}
.articles__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 50%;
  min-height: 500px;
}
@media screen and (max-width: 580px) {
  .articles__block {
    width: 100%;
    gap: 21px;
  }
}
@media screen and (max-width: 580px) {
  .articles__block-height {
    min-height: 370px;
  }
}
.articles__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  max-width: 180px;
  max-height: 46px;
  background: #565656;
  border: none;
  margin: 0 auto;
}
.articles__button:hover {
  background-color: #323232;
  transition: all 0.4s linear;
}
.articles__button-text {
  white-space: nowrap;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  padding: 9.5px 45px;
  letter-spacing: 0.1em;
  color: #fff;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  overflow: hidden;
  isolation: isolate;
  margin-bottom: 90px;
  margin-top: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .info {
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    gap: 70px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 580px) {
  .info {
    gap: 35px;
  }
}
.info__box {
  top: 0;
}
.info__title {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 457px) {
  .info__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 388px) {
  .info__title {
    font-size: 16px;
  }
}
.info__box2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media screen and (max-width: 768px) {
  .info__box2 {
    text-align: right;
    align-items: flex-end;
    min-width: 91%;
  }
}
@media screen and (max-width: 489px) {
  .info__box2 {
    font-size: 16px;
    line-height: 1.5;
  }
}
.info__box2-p {
  margin-top: 0;
}
.info__svg {
  fill: #7B7B7B;
}
.info__svg:hover {
  fill: #000;
  transition: all 0.4s linear;
}
.info__svg:hover::before {
  content: "Read More";
  transition: all 0.4s linear;
  border-color: #000;
  font-family: "Lato", sans-serif;
}

.margin-top {
  margin-top: 0;
}

.margin-bottom {
  margin-bottom: 0;
}

.footer {
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 300px;
  background: #F4F4F4;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    min-height: 410px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 70px;
  width: 81.25%;
}
@media screen and (max-width: 768px) {
  .footer__flex {
    width: 48.43%;
    padding-top: 50px;
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .footer__flex {
    width: 93.75%;
  }
}
.footer__cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  max-width: 370px;
  max-height: 160px;
}
@media screen and (max-width: 768px) {
  .footer__cta {
    top: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.footer__question {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: #000;
}
@media screen and (max-width: 580px) {
  .footer__question {
    max-width: 248px;
    font-size: 32px;
  }
}
.footer__contacts {
  max-height: 64.37px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  color: #000;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .footer__contacts {
    align-items: center;
  }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 23px;
  max-width: 269px;
  max-height: 50px;
}
@media screen and (max-width: 768px) {
  .footer__socials {
    align-items: center;
    margin: 51px auto 0;
  }
}
.footer__socials-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}
.footer__copy {
  width: 314px;
  height: 20px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 26px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .footer__copy {
    padding-bottom: 50px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 580px) {
  .footer__copy {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
.footer__socials-item:hover {
  background-color: #565656;
  transition: all 0.4s linear;
}
.footer .footersvg {
  fill: #565656;
}

.footer__socials-item:hover .footersvg {
  fill: #fff;
  transition: all 0.4s linear;
}/*# sourceMappingURL=styleshw17.css.map */