* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.frame {
    border: 793px 507px;
    background-color: #3b3f45;
}
.header {
    max-width: 793;
    padding: 0 130 0 129;
    background: #4A4F56;
}
h1 {
 padding: 19px 270px 0 247px ;
 text-align: center;
 color: #FF8984;
 font-size: 24px;
 line-height: 28px;
}
h2 {
margin-top:4px ;
padding-bottom: 12px;
text-align: center;
color: #FF8984;
font-size: 16px;
line-height: 19px;
}

.container {
    max-width: 534px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 25px 0;  
}

.style {
    display: flex;
    align-items: center;
    padding-left: 12px;   
}

label {
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    border: #88839E; 
    
    display: block;
    width: 100%;
}
.label :hover {
    background-color:  #625E77;
    border-color:#625E77 ;   
}

section >*:nth-child(2n) {
    background-color: #7A7593;
    border:  #7A7593;
}

section >*:nth-child(2n+1){
background-color: #88839E;
border: #88839E;
}

label + span.style >*:hover {
    background-color:  #625E77;
    border-color:#625E77 ;  
}

.shadow {
    box-sizing: border-box;
    box-shadow: 0 3px 3px 0 inset  #4A4F56;
}


.list>*:nth-child(4) {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

  span.style {
    line-height: 16px;
    font-size: 11px;
    color: #fff;   
  }  

input:checked + label {
    text-decoration: line-through;
    text-decoration-color: #9b96ac;
    color: #9B96AC;
}

input:checked + label span {
    text-decoration: line-through;
    text-decoration-color: #9b96ac;
    color: #9B96AC;
}

.list  :hover {
   background-color:  #625E77;
   border-color:#625E77 ;
}
 button[type="submit"] {

    margin-bottom: 25px;
    background-color: #4A4F56;
    color: #FF8984;
    width: 534px;
    border-style:solid;
    font-size: 18px;
    line-height: 45px;
    border-color: #4A4F56;
 }

 
 
 
