.body {
    background-color: #e5e5e5;
}
.container {
    display: flex;
    gap: 30px;
    background-color: #e5e5e5;
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.form-container {
    width: 39.58%;
    min-width: 570px;
    background-color: #ffffff;
    border-radius: 6px;
    margin: 55px 0 55px 0;
}
.wrapper-container {
    width: 87.71%;
    margin: 35px auto 16px auto;
}
.h2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #1C1C1C;
margin-top: 0;
margin-bottom: 0;
}
.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    align-items: flex-start;
}
.name-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
    width: 100%;
}
.name {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

letter-spacing: -0.2px;

color: #545454;
}
input, select {
    background: #FFFFFF;
border: 1px solid #e4e4e4;
border-radius: 6px;
padding: 0;
padding-left: 5%;
padding-right: 5%;   
width: 90%;
height: 38px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
letter-spacing: -0.2px;
color: #969696;
}

span {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;

letter-spacing: -0.1px;

color: #969696;
}
.radio-box {
    display: flex;
    flex-direction: row;
    gap: 21px;
    margin-top: 20px;
}
.radio {
display: flex;
gap: 8px;
height: 22px;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    
}
input[type="radio"]:checked {
    background-color: mix (#ffffff, #007BFF, 84%);
    color: transparent;
    border: 6px solid #007BFF ;
}
.button {
width: 100%;
height: 38px;
background-color: #007BFF;
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

border: 1px solid #E4E4E4;
border-radius: 6px;
text-align: center;
letter-spacing: -0.1px;
}
.policy {
    width: 71.92%;
    margin: 22px auto 20px auto;
    display: flex;
    text-align: center;
}
a {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
text-decoration: none;
text-align: center;
letter-spacing: -0.1px;

color: #007BFF;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #E4E4E4;
    margin-top: 20px;
}
.login {
    display: flex;
    gap: 20px;
    margin: 20px auto 16px auto;
    justify-content: center;
    white-space: nowrap;
    color: #545454;
}
.a {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
letter-spacing: -0.1px;

color: #007BFF;
}
.boy {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.photo {
    background: #FFFFFF;
border: 1px solid #E4E4E4;
border-radius: 6px;
height: 30px;
width: 138px;
position: relative;
margin-bottom: 9px;
}
.svg {
    position: absolute;
    right: 9px;
    top: 9px;
}
.right-side {
    display: flex;
    gap: 10px;
    margin-top: 11px;
}
.trashbin {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    height: 30px;
    width: 30px;
    position: relative;
}
select {
    height: 40px;
    background-color: #FFFFFF;
}
option {
    background-color: #ffffff;
}
.update-button {
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    margin: 20px 0 104px 0;
    display: flex;
    justify-content: flex-start;
    padding: 8px 51px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
text-align: center;
letter-spacing: -0.1px;

color: #FFFFFF;
}


input[type="submit"] {
    display: block;
    margin: 20px auto;
}
.label1 {
    display: block;
    position: relative;
    cursor: pointer;
    
    padding-left: 28px;
    margin-bottom: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height, or 147% */

letter-spacing: -0.2px;

color: #545454;
}
.label1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.select {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
}
.label1:hover input~.select {
    background-color: #ccc;
}
.label1 input:checked~.select {
    background-color: #1A33FF;
}
.select:after {
    content: "";
    position: absolute;
    display: none;
}
.label1 input:checked~.select:after {
    display: block;
}
.label1 .select:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 38px;
    
    background: #ffffff;
    border: 1px solid;
    border-color: #e4e4e4;
    border-radius: 6px;
    /*background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));*/
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    /*background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));*/
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  }
  
  .dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }
  
  .dropdown:before {
    border-bottom-style: solid;
    border-top: none;
  }
  
  .dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }
  
  .dropdown-select {
    position: relative;
    
    margin: 0;
    padding: 12px 10px 2px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 15px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #ffffff; /* Fallback for IE 8 /
    background: rgba(0, 0, 0, 0) !important; / "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 6px;
    -webkit-appearance: none;
  }
  
  .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
    }
  
    .dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #ffffff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .lt-ie9 .dropdown {
    z-index: 1;
  }
  
   .lt-ie9 .dropdown-select {
    z-index: -1;
  }

  .lt-ie9 .dropdown-select:focus {
    z-index: 3;
  }
  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }