*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.maincontainer {
    position: relative;
max-width: 1440px;
max-height: 5565px;

background: #FFFFFF;
}
.cities__container {
    position: relative;
max-width: 1170px;
max-height: 1295px;
 margin-left: 135px;
margin-top: 120px;
margin-bottom: 120px;

background-color: #fff;
}
section + section {
    margin-bottom: 120px;
}
.l-gradient {
   position: relative;
}
.l-gradient::after {
    content:"Clem Onojeghuo  " ;
    background: linear-gradient(360deg, #241f24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
    position: absolute;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 63px;
    text-indent: 20px;
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
   color: #fff;
    
}
.l-gradient::after::after {
    position: absolute;
    content:"1 July 2021" ;
    color: #E0E0E0;
    font-size: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 63px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.l-gradient:hover::after {
    position: absolute;
    content:"Clem Onojeghuo";
    background: linear-gradient(270deg, #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);
    border-radius: 20px;
     

     color: #fff;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
}
.heart-container {
    position: relative;
}
.heart-container:hover::after  {
    position: absolute;
    opacity: 1;
    display: flex;
    max-width: 40px;
    max-height: 40px;
    order: 1;
    background: #E0E0E0;
    border-radius: 8px;
}
.heart-container {
    position: relative;
    opacity: 0;
    display: flex;
    max-width: 40px;
    max-height: 40px;
    order: 2;
    background: rgba(224, 224, 224, 0.5);
    border-radius: 8px;
}

/*.textbottom {
    content: "Clem Onojeghuo" " 1 July 2021";
    position: absolute;
    width: 100%;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    bottom: 0;

    align-items: flex-end;

    
}
.textbottom {
    position: relative;
   
}*/


.transform {
    transform: rotate(90deg);
}
.container__title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.font {
    font-family: 'Delius Unicase', cursive;
    font-size: 36px;
line-height: 45px;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}
.cities-container__content-container {
    max-width: 1170px;
max-height: 1170px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 30px;

}
img {
    
    border-radius: 20px;
    
}
.disp1 {
    grid-area: 1/1/1/2;
   
}
.disp2 {
    grid-area: 1/2/1/4;
   
}
.disp3 {
    grid-area: 2/1/2/3;
    
}
.disp4 {
    grid-area: 2/3/2/4;
    
      
}
.disp5 {
    grid-area: 3/1/3/2;
    
}
.disp6 {
    grid-area: 3/2/3/4;
    
    
}
.nature-container {
    position: relative;
width: 1170px;
height: 1695px;
margin-left: 135px;
}
.nature-container__content-container {
    
max-width: 1170px;
max-height: 1570px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
gap: 30px;
}
.order21 {
    grid-area: 1/1/2/2;
}
.order22 {
    grid-area: 1/2/2/4; 
}
.order23 {
    grid-area: 2/1/4/3;  
}
.order24 {
    grid-area: 2/3/4/4; 
}
.order25 {
    grid-area: 4/1/5/3;  
}
.order26 {
    grid-area: 4/3/5/4;  
}
.people-container {
    position: relative;
max-width: 1170px;
max-height: 2095px;
margin-left: 135px;
}
.people-container__content-container {
    
max-width: 1170px;
max-height: 1970px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(6, 1fr);
gap: 30px;
}
.order31 {
    grid-area: 1/1/2/2; 
}
.order32 {
    grid-area: 1/2/3/3; 
}
.order33 {
    grid-area: 1/3/2/4; 
}

.order34 {
    grid-area: 2/1/3/2; 
}
.order35 {
    grid-area: 2/3/4/4;  
}

.order36 {
    grid-area: 3/1/5/2; 
}
.order37 {
    grid-area: 3/2/4/3;
}

.order38 {
    grid-area: 4/2/5/4;
}

.order39 {
    grid-area: 5/1/6/3;
}
.order310 {
    grid-area: 5/3/6/4;
}


