* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.body {
    width: 100%;
    background-color: $background;
    color: $purple-dark;
    position: relative;
    display: flex;
    flex-direction: row;

   
}
.checkbox {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.ball {
    height: 20px;
    width: 20px;
    position: absolute;
    top:5px;
    right: 16px;
    z-index: 1;
}
input {
    opacity: 0;
    
    position: absolute;
    height: 30px;
    width: 30px;
    
}
input:checked  {
     & .navigation {
        width: 220px;
     }
}
input:checked .arrow-box {
    opacity: 0;
    
}
.arrow-box {
    width: 40px;
    height: 40px;
position: absolute;

    left: 78px;
    top: 36px;
&__svg {
    @include arrow;
    
}
}
.logo {
    width: 32px;
    height: 32px;
    fill: $gray-dark;
    
}
.logo-box {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 30px 27px 51px 27px;
}

.dash {
    @include svg26;
    
}
.dash-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 11px 30px 49px 30px;
}
.divider {
    
    
    &__flex {
        display: flex;
        gap: 4px;
        width: 40px;
    height: 0;
    margin: 8px 23px 12px;
    }
    &__flex-item1 {
        border: 2px solid #9E8CFC;
        width: 8px;
        border-radius: 2px;
    }
    &__flex-item2 {
        border: 2px solid #9E8CFC;
        width: 16px;
        border-radius: 2px;
    }
    &__span {
        opacity: 0;
        height: 0;
        @include capslable;
        
    }
}


.navigation {
    width: 86px;
    //width: 5.972%;
    background-color:  $white;
    
    box-shadow: $box-shadow;
    height: 100%;
    position: fixed;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    overflow-y: auto;
    &:hover {
        width: 15.277%;
    }
    &:hover .logo-box::after {
        content: "LightBoard";
        @include logo;
    }

    &:hover .dash-box::after {
        content: "Dashboard";
        @include label;
    }
    &:hover .divider__flex {
     opacity: 0;
     margin: 0;
    }
    &:hover .divider__span {
        opacity: 1;
        margin: 0 auto 5px 15px;
        height: 20px;
        
       }
    &:hover + .header-container {
        width: 81.25%;
    }
}


.navigation ul {
   
    top:  217px;
    left: 0;
    width: 100%;
    margin-bottom: 46px;
    
    
}
.navigation ul li {
    position: relative;
    width: 100%;
    height: 46px;
    color: $gray-dark;
    //list-style: none;  
    &:hover {
        background-color: $blueviolet;
        color: $white;
    }
}
.navigation ul li a {
    display: block;
    width: 100%;
    height: 46px;
    display: flex;
    text-decoration: none;
    
}
.navigation ul li .icon {
    position: relative;
    display: block;
    min-width: 86px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul li .icon .fa {
    font-size: 24px;
}
.navigation ul li .title {
    position: relative;

    @include label;
    text-align: start;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navigation:active,
.navigation:hover{
    width: 220px;
}


.navigation ul li:hover .title {
color: $white;
}
.navigation ul li:hover .logo {
fill: $white;
}

.header-container {
    background-color: $white;
    width: 90.55%;
    min-height: 80px;
    box-shadow: $box-shadow;
    margin-top: 30px;
    position: absolute;
    right: 25px;
    border-radius: 10px;
}
