* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100%;
  background-color: #E5E5E5;
  color: #392C72;
  position: relative;
  display: flex;
  flex-direction: row;
}

.ball {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: 50px;
  z-index: 1;
}

.menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  left: 75px;
  top: 25px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
}

.menu__btn > span::before {
  content: url(/FELessons/respnav/img/Vector.png);
}

.menu__btn > span::after {
  content: url(/FELessons/respnav/img/Vector\(1\).png);
  opacity: 0;
}

.logo1 {
  width: 32px;
  height: 32px;
  fill: #4F4F4F;
}

.logo {
  width: 26px;
  height: 26px;
  fill: #4F4F4F;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 30px 27px 51px 27px;
}

.dash {
  width: 26px;
  height: 26px;
}

.dash-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 11px 30px 49px 30px;
}

.hamburger-menu {
  position: absolute;
  left: -2.7%;
}

.divider__flex {
  display: flex;
  gap: 4px;
  width: 40px;
  height: 0;
  margin: 8px 23px 12px;
}
.divider__flex-item1 {
  border: 2px solid #9E8CFC;
  width: 8px;
  border-radius: 2px;
}
.divider__flex-item2 {
  border: 2px solid #9E8CFC;
  width: 16px;
  border-radius: 2px;
}
.divider__span {
  opacity: 0;
  height: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #828282;
}

#menu__toggle:checked ~ .navigation {
  width: 220px;
}

#menu__toggle:checked ~ .header-container .menu__btn > span::before {
  opacity: 0;
}

#menu__toggle:checked ~ .header-container .menu__btn > span::after {
  opacity: 1;
}

#menu__toggle:checked ~ .header-container {
  width: 81.25%;
}

#menu__toggle:checked ~ .header-container .hamburger-menu {
  left: -5%;
}

#menu__toggle:checked ~ .navigation .divider__flex {
  opacity: 0;
}

#menu__toggle:checked ~ .navigation .divider__span {
  opacity: 1;
  margin: 0 auto 5px 15px;
  height: 20px;
}

#menu__toggle:checked ~ .navigation .logo-box::after {
  content: "LightBoard";
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  color: #392C72;
}

#menu__toggle:checked ~ .navigation .dash-box::after {
  content: "Dashboard";
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
}

.navigation {
  width: 86px;
  max-width: 220px;
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  list-style: none;
  text-align: start;
  top: 0;
  height: 100%;
  position: fixed;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}
.navigation:hover {
  width: 15.277%;
}
.navigation:hover .logo-box::after {
  content: "LightBoard";
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  color: #392C72;
}
.navigation:hover .dash-box::after {
  content: "Dashboard";
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
}
.navigation:hover .divider__flex {
  opacity: 0;
  margin: 0;
}
.navigation:hover .divider__span {
  opacity: 1;
  margin: 0 auto 5px 15px;
  height: 20px;
}
.navigation:hover + .header-container {
  width: 81.25%;
}

.navigation ul {
  left: 0;
  width: 100%;
  margin-bottom: 46px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  height: 46px;
  color: #4F4F4F;
}
.navigation ul li:hover {
  background-color: #9E8CFC;
  color: #ffffff;
}

.navigation ul li a {
  display: block;
  width: 100%;
  height: 46px;
  display: flex;
  text-decoration: none;
}

.navigation ul li .icon {
  position: relative;
  display: block;
  min-width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul li .icon .fa {
  font-size: 24px;
}

.navigation ul li .title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
  text-align: start;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation ul li:hover .title {
  color: #ffffff;
}

.navigation ul li:hover .logo {
  fill: #ffffff;
}

.header-container {
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  width: 90.55%;
  min-height: 80px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  position: absolute;
  right: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.header-container__iconbox-left {
  display: flex;
  max-width: 163px;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 27px;
  gap: 20px;
}
.header-container__iconbox-right {
  max-width: 374px;
  margin-top: 22px;
  margin-right: 20px;
  gap: 50px;
  display: flex;
  margin-bottom: 22px;
  align-items: center;
}
.header-container__iconbox-right1 {
  max-width: 120px;
  gap: 20px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4F4F4F;
}
.header-container__iconbox-right2 {
  max-width: 118px;
  gap: 20px;
  display: flex;
}

.svgheader {
  width: 26px;
  height: 26px;
  fill: #4F4F4F;
}
.svgheader:hover {
  fill: #9E8CFC;
}

.bg {
  margin-top: 178px;
  margin-left: 220px;
}/*# sourceMappingURL=respnav.css.map */