$ssp:  'Source Sans Pro', sans-serif;
$m700-400: 'Montserrat', sans-serif;
$opsn:'Open Sans', sans-serif;
$opsnital: 'Open Sans', sans-serif;
$white: #ffffff;
$hgrey:#2C4058;
$violet:#7E5AFF;
$lightgrey: #9d9aff87;
$jj: $hgrey;
$black:#000000;
$blue:#55B7FF;
$backgr1:linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$pc: 100%;
$fullscreen: 2580px;
$desktopbig:1920px;
$desktop:1600px;
$tabletBig: 1024px;
$tablet: 768px;
$tabletMinus1: 767px;
$mobile: 576px;