.menu1 {
    &__list {
        list-style: none;
        white-space: nowrap;
    }
    &__dot {
        width: 8px;
        height: 8px;
        border-radius: 5px;
        border:  1px solid /* $white */;
        margin-right: 14px;
       /*  &:hover {
            background-color: $white;
            @include transition09ease;
        } */
    }

    &__item {
        display: inline-flex;
    align-items: baseline;
      /*  @include menuitem; */
        & + & {
            //margin-top: 18px;
            @media screen and (min-width: 768px /* $tablet */) {
                margin: 0 0 0 70px;
            }
        }
        
       /*  &:hover {
             @include scale12;
            @include transition09ease; 
        }
        &:hover  .menu__dot {
         background-color:  $white ;
           @include transition09ease; 
        }
        &:active {
         @include rotate360z;
            @include transition09ease; 
        } */
    }    

    &__link {
       /*  @include menulink; */
        position: relative;
        display: flex;
        align-items: center;
        &:hover {
            color: #464646;
            /* @include translinear03; */
        }
        &:active {
         text-decoration: underline;
       /*   @include transition09ease;
         */
        }
        @media screen and (min-width: 1024px /* $tabletBig */) {
            padding-bottom: 5px;   
        }
    }
    &__socials {
        display: flex;
        gap: 20px;
        position: relative;
        margin-left: 110px;
       
    }
    &__socials-item {
       /*  @include socials; */
       position: relative;
       /*  &:hover {
            @include socials_hover;
        } */
    }
   
    /* &__size-f {
    @include size-f;
    }
    &__size-t {
        @include size-t;
    }
    &__size-i {
        @include size-i;
    }
    &__svg {
       @include svg-logo;
    }
    &__circle {
       @include circle-socials;

        } */
}




@mixin backgroundimage {
    background-image: url(/FELessons/project2/pr2assets/tu-tram-pham-202263\ 1.png);
   opacity: 0.06;
   
}
$white: #ffffff;
@mixin menuitem {
    //font-family: $ssp;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    text-transform: uppercase;
}
@mixin menulink {
    color: $white;
    //font-family: $ssp;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
@mixin socials {
    width: 40px;
    height: 40px;
    border-radius: 25px;
   /*  opacity: 0.4;
    border: 1px solid #FFFFFF; */
}
@mixin socials_hover {
    border: 1px solid  grey;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
@mixin size-f {
    width: 10px;
        height: 18px;
        margin: 10px 0 ;
        left: 15px; 
}
@mixin size-t {
    margin: 11px 0 ;
    left: 12px;
    width: 16px;
    height: 18px;  
}
@mixin size-i {
    margin: 11px 0 ;
    right: 13px;
    width: 14px;
     height: 18px; 
}
@mixin circle-socials {
    stroke: $white;
    width: 40px;
    height: 40px;
    fill: violet;
    &:hover {
        fill: grey; 
        -webkit-transition: all 0.9s ease; 
        -o-transition: all 0.9s ease; 
        transition: all 0.9s ease;
    }
    &:active {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-transition: all 0.9s linear;
        -o-transition: all 0.9s linear;
        transition: all 0.9s linear;
    }
    &:hover + .menu__svg {
        fill: grey; 
     
}
}
@mixin svg-logo {
    fill: $white;
        position: absolute;
        &:hover {
            fill: grey; 
            -webkit-transition: all 0.9s ease; 
            -o-transition: all 0.9s ease; 
            transition: all 0.9s ease;
        }
        &:active {
            -webkit-transform: rotateZ(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotateZ(360deg);
            -webkit-transition: all 0.9s linear;
            -o-transition: all 0.9s linear;
            transition: all 0.9s linear;
        } 
}
@mixin transition09ease {
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
@mixin translinear03 {
    -webkit-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;
}
@mixin rotate360z {
    -webkit-transform: rotateZ(360deg); -ms-transform: rotate(360deg); transform: rotateZ(360deg);  
}
@mixin scale12 {
    -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); 
}
@mixin circle-below {
    opacity: 0.7;
        border: 1px solid $white; 
        width: 40px;
        height: 40px;
        border-radius: 23px;
        position: absolute;
        margin: 0 auto;
        left: calc(50% - 40px);
        bottom: 50px;
        &:hover {
            border: 1px solid grey; 
            fill: grey; 
            -webkit-transition: all 0.9s ease; 
            -o-transition: all 0.9s ease; 
            transition: all 0.9s ease;
        }
        &:hover .header__shewron-down {
            fill: $hgrey; 
            -webkit-transition: all 0.9s ease; 
            -o-transition: all 0.9s ease; 
            transition: all 0.9s ease;
        }
        &:active {
            border: 1px solid grey; 
            -webkit-transform: rotateZ(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotateZ(360deg);
            -webkit-transition: all 0.9s linear;
            -o-transition: all 0.9s linear;
            transition: all 0.9s linear;
        } 
        &:active .header__shewron-down {
            -webkit-transform: rotateZ(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotateZ(360deg);
            -webkit-transition: all 0.9s linear;
            -o-transition: all 0.9s linear;
            transition: all 0.9s linear;
        } 
}
@mixin line1 {
    //font-family: $m700-400;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: $hgrey;
}
@mixin line2 {
    //font-family: $m700-400;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: grey;
}
@mixin p {
    //font-family: $opsn;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: grey;
}
@mixin button {
    width: 190px;
    height: 50px;
   border: 1px solid #2C4058;
   background-color: $white; 
   &:hover {
    border: 1px solid #2C4058;
    background-color: #2C4058;
    -webkit-transition: all 0.9s linear;
            -o-transition: all 0.9s linear;
            transition: all 0.9s linear;
    -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); 
   }
   &:hover .button__a {
    -webkit-transition: all 0.9s linear;
    -o-transition: all 0.9s linear;
    transition: all 0.9s linear;
    color: $white;
   }
   &:active {
    border: 1px solid #2C4058;
    background-color: #2C4058;
    -webkit-transition: all 0.9s linear;
            -o-transition: all 0.9s linear;
            transition: all 0.9s linear;
    -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); 
   }
}
@mixin buttontext {
    margin: 16px 41px 17px ;
        //font-family: $m700-400;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        text-decoration: none;
        white-space: nowrap;
}
@mixin italictext {
    //font-family: $opsn;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: black;
}



.nav {
    position: relative;
    background-color: blueviolet;
    padding: 10px 0;
    @media screen and (min-width: 768px /* $tablet */) {
        padding: 0;
    }
    &__logo {
        //@include heading3;
        font-size: 24px;
        line-height: 20px;
        margin-left: calc(50% - 168px/2);
        margin-top: 3.8%;
        margin-bottom: 3.8%;
        @media screen and (min-width: 768px /* $tablet */) {
        margin-left: 0;
        margin-top: 32px;
        margin-bottom: 32px;
        //font-family: $josefin;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffff;
        }


    }

    &__container {
       /*  @include container; */
        width: 100%;
        // max-width: 1170px;
         margin-left: auto;
         margin-right: auto;
       /*  @media screen and (min-width: 768px  $tablet ) {
           width: 75%;
        }
        @media screen and (min-width: 1024px  $tabletBig ) {
            width: 93.75%;
        }
        @media screen and (min-width: 1440px  $desktop ) {
            width: 83.824%;
        } */
        
    }

    &__wrapper {
       /*  @include flex-vertical-center; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: 768px /* $tablet */) {
            flex-direction: column;
        }
        @media screen and (min-width: 1024px /* $tabletBig */) {
            flex-direction: row;
            align-items: baseline;

        }
        
    }

    &__right-side {
       /*  @include flex-vertical-center; */
       display: flex;
        align-items: center;
    }

    &__menu {
        @media screen and (min-width: 768px /* $tablet */) {
            white-space: nowrap;
            margin-bottom: 32px;
        }
        
        @media screen and (max-width: 767px /* $tabletMinus1 */) {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: blueviolet;
            transform: translateX(-100%);
            transition: all .3s linear;
        }
    }

    &__burger {
        /* @include flex-vertical-center; */
        display: flex;
        align-items: center;
        position: relative;
        width: 40px;
        height: 24px;
        background-color: transparent;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        @media screen and (min-width: 768px /* $tablet */) {
            display: none;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color:#ffffff;
            transition: all .3s linear;
        }

        &:after {
            opacity: 0;
        }
    }

    &__burger-input {
        display: none;

        &:checked {
            & ~ .nav__burger-label {
                .nav__burger {
                    border-color: transparent;
    
                    &:before {
                        transform: rotate(45deg);
                    }
    
                    &:after {
                        opacity: 1;
                        transform: rotate(-45deg);
                    }
                }
            }

           
        }}

    &__burger-label {
        margin-left: 30px;
        padding: 10px 0 10px 10px;
    }

    .menu {
        &__list {
            @media screen and (max-width: 767px /* $tabletMinus1 */) {
               /*  @include container; */
               width: 100%;
               // max-width: 1170px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 32px; 
                margin-bottom: 32px;
                background-color: blueviolet/* ($color: #000000) */;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }

        &__item {
            @media screen and (max-width: 767px /* $tabletMinus1 */) {
                display: block;
            }
         //   & + .menu__item {//

            .menu__item + .menu__item {
               
                
                @media screen and (max-width: 767px /* $tabletMinus1 */) {
                    //margin: 24px 0 0 0;
                }
               
                
                
            }
        }
    }
}
.nav__burger-input:checked + .nav__menu {
    transform: translateX(0);
}

* {
    box-sizing: border-box;
  }
  
  form {
    position: relative;

       
  }
  
  input {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid;
    padding: 22px 36px;
    //font-family: $josefin;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2em;
color: grey;
  }

  .menu {
    
   /*  &__list {
        list-style: none;
    } */

    &__item {
        display: inline-block;
        //font-family: $aleo;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        
        letter-spacing: 0.1em;
        text-transform: uppercase;
        & + & {
            margin-top: 24px;
            @media screen and (min-width: 768px /* $tablet */) {
                margin: 0 0 0 40px;
            }
        }
        &:hover {
            transform: scale(1.2);
            transition: all 0.9s ease;
           
        }
        &:active {

            transform: rotateZ(360deg);
            transition: all 0.9s linear;
        }
    }

    &__link {
        position: relative;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #464646;
            transition: all 0.3s linear;
        }
        &:active {
        
         text-decoration: underline;
        }
       

        @media screen and (min-width: 1024px /* $tabletBig */) {
            padding-bottom: 5px;

        

            
        }
    }
    &__list {
        list-style: none;
        white-space: nowrap;
    }
    &__dot {
        width: 8px;
        height: 8px;
        border-radius: 5px;
        border:  1px solid $white;
        margin-right: 14px;
        &:hover {
            background-color: $white;
            @include transition09ease;
        }
    }

    &__item {
        display: inline-flex;
    align-items: baseline;
       @include menuitem;
        & + & {
            //margin-top: 18px;
            @media screen and (min-width: 768px /* $tablet */) {
                margin: 0 0 0 70px;
            }
        }
        
        &:hover {
            @include scale12;
            @include transition09ease;
        }
        &:hover  .menu__dot {
            background-color: $white;
            @include transition09ease;
        }
        &:active {
            @include rotate360z;
            @include transition09ease;     
        }
    }    

    &__link {
        @include menulink;
        position: relative;
        display: flex;
        align-items: center;
        &:hover {
            color: #464646;
            @include translinear03;
        }
        &:active {
         text-decoration: underline;
         @include transition09ease;
        
        }
        @media screen and (min-width: 1024px /* $tabletBig */) {
            padding-bottom: 5px;   
        }
    }
    &__socials {
        display: flex;
        gap: 20px;
        position: relative;
        margin-left: 110px;
       
    }
    &__socials-item {
        @include socials;
       position: relative;
        &:hover {
            @include socials_hover;
        }
    }
   
    &__size-f {
    @include size-f;
    }
    &__size-t {
        @include size-t;
    }
    &__size-i {
        @include size-i;
    }
    &__svg {
       @include svg-logo;
    }
    &__circle {
       @include circle-socials;

        }
}
