$dark-blue: #2B3040;
$backgr: rgba(41, 45, 62, 0.8);
$deep-blue:#212534;
$green:#13E28D;
$yellow:#FFDD3F;
$inactive:#8D91A3;
$white:#FFFFFF;
$ratinggreen: linear-gradient(196.37deg, #00D4BE 6.95%, #1AE780 21.96%, #1AE780 73.66%, #00D4BE 87%);
$lato: 'Lato', sans-serif;

