$josefin: 'Josefin Sans', sans-serif;
$aleo:'Aleo', serif;
$lato:'Lato', sans-serif;
$redhot:'Red Hat Display', sans-serif;
$blue:#5373FD;
$white: #ffff;
$black: #000000;
$textgrey:#999999;
$jj:#1111fd;
$lightblue: #7373FD;
$darkgrey:#333333;
$greydarktext:#565656;
$grey100:#F4F4F4;
$semiopacitygrey: rgba(35, 35, 35, 0.9);
$prcnt: 100%;
$fullscreen: 2580px;
$desktopbig:1920px;
$desktop:1440px;
$tablet: 770px;
$tabletMinus1: 769px;
$mobile: 320px;
