 body {
    font-family: "Poppins";
    font-weight: 300;
    color: #9c9c9c;
 }
 .wrapper {
    background-color: black;

 }
 [class*="__container"] {
    max-width: 1310px;
    margin-top: 0 auto;
    padding: 0px 15px;
 }