 body {
    background-color: #0d0d11;
    font-family: "Poppins";
    font-weight: 300;
    color: #9c9c9c;
 }
 .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;

 }
 [class*="__container"] {
    max-width: 1310px;
    margin-top: 0 auto;
    padding: 0px 15px;
 }
 .page {
    flex: 1 1 auto;
 }
.button {

}

 /* header*/
.header {
}
.page {
}
.footer {
}
.header__container {
    display: flex;
    column-gap: 35px;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;


}
.header__logo {
}
.header__menu {
    flex: 1 1 auto;
}
.cart-header {
    color: #ffff;
    display: flex;
    gap: 5px;
    align-items: center;

}
.header__button.button {
}
.icon-menu {
    display: none;
}
.menu__list {
    display: flex;
    column-gap: 35px;
    justify-content: flex-end;

}
.cart-header__text {
    font-size: 18px;
    line-height: 1.55;
    
}
.cart-header__quantity {
    border-radius: 50%;
    background-color: rgba(129, 129, 139, 0.3 );
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

}
.menu__item {
}
.cart-header:hover 
.menu__link {
    font-size: 16px;
    line-height: 1.62;
    color: #ffff;
}
.menu__link:hover {
    text-decoration: underline;
}
